@charset "UTF-8";

/*
 #49a09d
 #5f2c82

*/

:root {
    --cor1: #db7188;
    --cor2: rgb(236, 236, 206);
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor1);
    margin: auto;
}

#login {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;

    background-color: white;
    width: 330px;
    height: 482px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
}

#img {
    background-color: white;
    background-image: url(../img/branding.png);
    width: 53%;
    height: 74px;
    margin-top: 35px;
    margin-left: 16px;
    background-size: contain;
    background-repeat: no-repeat;
}

h2 {
    text-align: center;
    color: darkred;
    margin-bottom: 14px;
}

.campo {
    padding: 10px;
    margin-left: 20px;
}

input {
    width: 90%;
    height: 40px;
    border: none;
    background-color: #e63b5d34;
    margin-top: 10px;
    border-radius: 5px;
    text-indent: 1.3em;
    font-size: 1em;
}

::placeholder {
    color: darkred;
    font-weight: bold;
}

input:hover {
    background-color: rgb(255, 170, 170);
}

.acessar {
    width: 80%;
    height: 40px;
    margin-left: 30px;
    padding-right: 20px;
    margin-top: 30px;
    color: darkred;
    font-weight: bolder;
}

a {
    display: inline-block;
    margin-left: 17px;
    margin-top: 10px;
    color: darkred;
    font-weight: bold;
}

a:hover {
    color: darkred;
    font-weight: bold;
}
